/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
body {
    font-family: sans-serif;
    padding: 90px 20px 0;
}
.header{

    background-color: navy;
    height: 12%;
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
}
.nav {
        display: flex;
        justify-content: space-between;
        max-width: 992px;
        margin: 0 auto;
}

.nav_link{
    
    color: white;
}
.logo{
    font-size: 32px;
    font: bold;
    padding: 0 40px;
    line height: 80px;
}