/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 27, 2024, 12:42:16 PM
    Author     : Fio
*/
#TituloPrincipal {
    color:cadetblue;
    font-family: sans-serif;
     
}
p{
    background-color: seashell;
}
d:link{
    
    color: chocolate;
}
a:visited{
    color: darkblue;
}

a:hover{
    transition: 1s;
    background: black;
    color: white;
   
}

a:active{
    background: red;
    color: white;
   
}
p:nth-child(odd){ /*podria hacer esto con even*/
    background: black;
    background-color: graytext;
   
}