<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <!--El folder, el nombre del archivo :: el nombre del bloque, esto es una forma deprecada-->
    <head th:replace="~{plantilla/plantilla :: head}">
        <title>Tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="~{plantilla/plantilla :: header}"></header>
        <footer th:replace="~{plantilla/plantilla :: footer}"></footer>
    </body>
</html>